@font-face {
    font-family: 'Hijrnotes';
    src:url('Hijrnotes-PERSONAL-USE-ONLY.ttf.woff') format('woff'),
        url('Hijrnotes-PERSONAL-USE-ONLY.ttf.svg#Hijrnotes-PERSONAL-USE-ONLY') format('svg'),
        url('Hijrnotes-PERSONAL-USE-ONLY.ttf.eot'),
        url('Hijrnotes-PERSONAL-USE-ONLY.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

